body {
    background: rgb(146, 122, 255);
  }
  .header {
    padding: 20px;
    text-align: center;
  } 

  .header h1 {
    font-size: 70px;
    font-family:'Franklin Gothic Medium'; 
    font-family: cursive;
  }
