body {
    background: rgb(146, 122, 255);
  }
  .header {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
  } 

  .header h1 {
    font-size: 70px;
    font-family: cursive;
  }
